{% extends "base_admin.html" %}{% set title="Changer mon mot de passe" %}
{% block content %}
<form method="post" class="card">
  <label>Mot de passe actuel<input name="current_password" type="password" required></label>
  <label>Nouveau mot de passe (min 8 caractères)<input name="new_password" type="password" required></label>
  <label>Confirmer le nouveau mot de passe<input name="new_password_confirm" type="password" required></label>
  <button type="submit">Mettre à jour</button>
</form>
{% endblock %}
