<!doctype html>
<html lang="fr"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title or "Habilitations" }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
<body><div class="container">
<header class="header"><div><h1>{{ title or "Habilitations" }}</h1></div></header>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}<div class="flash-area">{% for cat,msg in messages %}<div class="flash {{ cat }}">{{ msg }}</div>{% endfor %}</div>{% endif %}
{% endwith %}
<main>{% block content %}{% endblock %}</main>
<footer class="footer"><small>Application de suivi des habilitations</small></footer>
</div>  <script src="{{ url_for('static', filename='signature.js') }}"></script>
</body></html>
